body {
    background-color:#FFEFD6;
}
hr {
    color:#F2DEBA;
    border-style:dotted none none;
    border-width:10px;
    width:10%;
}
img {
    width:175px;
}
h1 {
    color:#395144;
}
h2 {
    color:#4E6C50;
}
h3 {
    color:#4E6C50;
}
.skills {
    color:#395144;
    font-size:18px;
    font-weight:bold;
}